* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    display: flex; /* ใช้ Flexbox สำหรับการจัดเรียงแนวนอน */
    justify-content: space-between; /* จัดให้เนื้อหาอยู่ระหว่างซ้ายและขวา */
    align-items: center; /* จัดให้เนื้อหาอยู่กลางในแนวตั้ง */
    padding: 20px; /* กำหนด padding เพื่อความสวยงาม */
    background-color: rgb(255, 123, 0);
    color: white;
}

.header a {
    text-decoration: none; /* ลบขีดเส้นใต้ของลิงก์ */
    color: white; /* กำหนดสีของข้อความลิงก์ */
}

.header .cart {
    display: flex; /* ใช้ Flexbox สำหรับการจัดเรียงไอคอนและตัวเลข */
    align-items: center; /* จัดให้เนื้อหาอยู่กลางในแนวตั้ง */
}

/* .header .cart svg {
    
} */

.container {
    display: flex; /* ใช้ Flexbox สำหรับการจัดเรียงแนวนอน */
}

.row {
    width: 70%;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(14, 144, 200);
    height: 1000px; /* ยังคงความสูงเดิม */
}

.mail {
    background-color: rgb(255, 123, 0);
    width: 30%;
    height: 1000px; /* ยังคงความสูงเดิม */
    text-align: center;
}

.mail button {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 123, 0);
}